{% extends "layout.html" %}
{% block title %}Kirjautuminen{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<h2>Kirjautuminen</h2>
<form action="/new_user" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<p>Salasana uudestaan:<br>
<input type="password" name="password2"></p>
<input type="submit" value="Luo tunnus">
</form>
{% endif %}
{% endblock %}

