{% extends "layout.html" %}

{% block title %}Uusi resepti{% endblock %}

{% block content %}

<form id="recipeForm" action="/new_recipe/add" method="POST">
<p>Reseptin nimi:<br>
<input type="text" name="recipename"></p>
<div id="ingredients">
<p>Raaka-aineet (nimi, määrä, yksikkö): <br>
<input type="text" name="ingredients[0].name">
<input type="number" name="ingredients[0].amount" min="0">
<select name="ingredients[0].unit">
  <option value="g">g</option>
  <option value="kpl">kpl</option>
  <option value="ml">ml</option>
  <option value="rkl">rkl</option>
  <option value="tl">tl</option>
</select>
</p>
</div>

<button type="button" id="addIngredient">Uusi raaka-aine</button>
<p>Valmistusohje:<br>
<input type="text" name="instructions"></p>

<input type="submit" value="Lisää resepti">
</form>
<script>
var ingredientIndex = 1;

document.getElementById('addIngredient').addEventListener('click', function() {
  var newIngredient = document.createElement('p');
  newIngredient.innerHTML = '<br><input type="text" name="ingredients[' + ingredientIndex + '].name"><input type="number" name="ingredients[' + ingredientIndex + '].amount" min="0"><select name="ingredients[' + ingredientIndex + '].unit"><option value="g">g</option><option value="kpl">kpl</option><option value="ml">ml</option><option value="rkl">rkl</option><option value="tl">tl</option></select><button type="button" class="removeIngredient">Poista raaka-aine</button>';
  document.getElementById('ingredients').appendChild(newIngredient);
  ingredientIndex++;
});

document.getElementById('ingredients').addEventListener('click', function(e) {
  if(e.target && e.target.classList.contains('removeIngredient')) {
    e.target.parentNode.remove();
  }
});
</script>

{% endblock %}



