{% extends "layout.html" %}
{% block title %}{{user.username}}{% endblock %}
{% block content %}

<h2>Omat sivut</h2>
Tervetuloa omille sivuillesi {{ user.username }}!

<h3>Suosikkireseptini</h3>
{% if favourite_recipes %}
  <ul>
  {% for recipe in favourite_recipes %}
    <li>
      <a href="{{ url_for('recipe_page', id=recipe.id) }}">{{ recipe.recipename }}</a>
      
      
      <form action="{{ url_for('remove_from_favorites', id=recipe.id) }}" method="post">
      <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
        <button type="submit" class="btn" style="background-color: darkred; color: white;">Poista suosikeista</button>
      </form>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>Ei suosikkireseptejä.</p>
{% endif %}

{% endblock %}

