{% extends "layout.html" %}
{% block title %}{{recipe.recipename}}{% endblock %}
{% block content %}

<h2>{{recipe.recipename}}</h2>

<h4>Raaka-aineet:</h4>
<table>
    
{% for ingredient in recipe.ingredients %}
    <tr>
        <td>{{ingredient.amount}}</td>
        <td>{{ingredient.unit}}</td>
        <td>{{ingredient.name}}</td>
    </tr>
{% endfor %}
</table>

<h4>Valmistusohje:</h4>
<p>{{recipe.instructions}}</p>

<a href="{{ url_for('browse_recipes') }}" class="btn" style="background-color: darkgreen; color: white;">Palaa takaisin</a>


<a href="{{ url_for('edit_recipes', id=recipe.id) }}" class="btn" style="background-color: darkred; color: white;">Muokkaa reseptiä</a>


{% endblock %}

